@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset default styles */
/* Reset default styles */
* {
    margin: 0;
    padding: 0;
  }

h1{
    font-size: xx-large;
    text-align: center;
}
/* .taskListCard {
  background-color: #ffffff;
  padding: 20px;
  width: 75%;
  margin-left: 2%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: solid 2px black;
  border-radius: 30px;
}

.taskCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: auto;
  margin-bottom: 1%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px black;
}


.taskCardTopRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.taskCardBottomRow {
  margin: 1%;
}

.taskCardTitle {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.taskCardPriority {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.taskCardDescription {
  background-color: #ffffff;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
} */

/* .navbar {
  margin: 2%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
} */

.navbarLi {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: auto;
  justify-content:left;
  margin: 2%;
}

/* .navbar a {
  text-decoration: none;
  color: #000;
} */
.input {
  background-color: black;
  color: white;
  margin-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  width: 85%;
}

.form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 16px;
  box-shadow: 2px 2px 4px black;
  width: 60%;
}

.button {
  background-color: white;
  padding: 3px;
  margin-bottom: 1%;
  margin-left: 30%;
  border-radius: 4px;
  box-shadow: 2px 2px 4px black;
}

.about {
  background-color: #ffffff;
  width: 70%;
  margin: auto;
  margin-bottom: 20%;
}